# Directories
__pycache__/
.pytest_cache/
.ruff_cache/
alertmanager/
architecture/
ChurnPrediction_API/
filebeat/
prometheus/
statics/

# Files
.gitignore
.pre-commit-config.yaml
docker-compose.minio.yaml
docker-compose.stack.yml
docker-compose.observability.yml
deploy.sh
Makefile
mypy.ini
README.md
Taskfile.yml
Jenkinsfile