# Folders
data/
.ruff_cache/
mlruns/
mlartifacts/
__pycache__/
.pytest_cache/
prometheus-data/
ChurnPrediction_API/
logs/api.log
ChurnPrediction_API/
output_api/

# Files
.env
docker-compose.minio.yaml
Taskfile.yml
Jenkinsfile