services:

  # ====== API SERVING ======
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: churn_api_engine
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    depends_on:
      mlflow:
        condition: service_started
    restart: unless-stopped
    networks:
      - ml_churn_engine
      - model_engine_default

  # ====== POSTGRES (MLFLOW BACKEND STORE) ======
  postgres:
    image: postgres:13
    container_name: mlflow_postgres_churn
    environment:
      POSTGRES_DB: mlflow
      POSTGRES_USER: mlflow
      POSTGRES_PASSWORD: mlflow
    volumes:
      - mlflow_pg:/var/lib/postgresql/data
    networks:
      - ml_churn_engine

  # ====== MLFLOW SERVER ======
  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.11.0
    container_name: mlflow_server
    command: >
      mlflow server
      --backend-store-uri postgresql://mlflow:mlflow@postgres:5432/mlflow
      --default-artifact-root s3://mlflow/
      --host 0.0.0.0
      --port 5000
    environment:
      MLFLOW_S3_ENDPOINT_URL: http://minio:9000
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
      AWS_DEFAULT_REGION: us-east-1
    ports:
      - "5000:5000"
    depends_on:
      postgres:
        condition: service_started
    networks:
      - ml_churn_engine
      - model_engine_default

volumes:
  mlflow_pg:

networks:
  ml_churn_engine:
    external: true
  model_engine_default:
    external: true