global:
  scrape_interval: 15s
  evaluation_interval: 15s

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"

scrape_configs:
  # Scraping the FastAPI API
  - job_name: "churnprediction_api"
    metrics_path: /metrics
    static_configs:
      - targets: ["api:8000"]


  # Scrape example for Prometheus itself
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
